ganxue.top, 115.190.92.245 {
    root * /home/ganxue-web
    file_server
    try_files {path} {path}/ /index.html

    @options {
        method OPTIONS
    }

    header @options {
        Access-Control-Allow-Origin {http.request.header.Origin}
        Access-Control-Allow-Methods GET, POST, OPTIONS
        Access-Control-Allow-Headers DNT,X-Mx-ReqToken,Keep-Alive,User-Agent,X-Requested-With,If-Modified-Since,Cache-Control,Content-Type,Authorization
        Access-Control-Allow-Credentials true
    }

    respond @options 204

    reverse_proxy /api/open/* http://115.190.92.245:8080/open/ {
        header_up Host {host}
        header_up X-Real-IP {remote}
        header_up X-Forwarded-For {header.X-Forwarded-For}
    }

    reverse_proxy /api/auth/* http://115.190.92.245:8080/auth/ {
        header_up Host {host}
        header_up X-Real-IP {remote}
        header_up X-Forwarded-For {header.X-Forwarded-For}
    }

    header Cache-Control no-cache

    @hidden_files {
        path_regexp hidden ^/\.
    }
    respond @hidden_files 403
}  